body.dark {
    background-color: #2d2d2d;
    color: white;
}

.dark .bg-indigo-50 {
    background-color: #1e1e1e;
}

.dark .bg-indigo-950 {
    background-color: #333333;
}

.dark .text-indigo-950 {
    color: #e0e0e0;
}

.dark .text-indigo-800 {
    color: #ccc;
}

.dark .bg-indigo-800 {
    background-color: #444444;
}

.dark .bg-indigo-950 {
    background-color: #555555;
}
.dark .border-indigo-800 {
    border-color: #555555;
}
.dark .bg-white {
    background-color: #444444;
}
.dark .bg-indigo-200 {
    background-color: #555555;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    animation: slide 20s infinite linear;
}

.carousel-item {
    min-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    margin: 0 10px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    12.5% {
        transform: translateX(-100%);
    }
    25% {
        transform: translateX(-200%);
    }
    37.5% {
        transform: translateX(-300%);
    }
    50% {
        transform: translateX(-400%);
    }
    62.5% {
        transform: translateX(-500%);
    }
    75% {
        transform: translateX(-600%);
    }
    87.5% {
        transform: translateX(-700%);
    }
    100% {
        transform: translateX(-800%);
    }
}

.carousel-container:hover .carousel {
    animation-play-state: paused;
}
