body.dark {
    background-color: #2d2d2d;
    color: white;
}

.dark .bg-indigo-50 {
    background-color: #1e1e1e;
}

.dark .bg-indigo-950 {
    background-color: #333333;
}

.dark .text-indigo-950 {
    color: #e0e0e0;
}

.dark .text-indigo-800 {
    color: #ccc;
}

.dark .bg-indigo-800 {
    background-color: #444444;
}

.dark .bg-indigo-950 {
    background-color: #555555;
}
.dark .border-indigo-800 {
    border-color: #555555;
}
.dark .bg-white {
    background-color: #444444;
}
.dark .bg-indigo-200 {
    background-color: #555555;
}
